*.deps
*.jpg
*.la
*.lo
*.o
*.pc
*.so
*.swp
*o
*~
.libs
/m4/libtool.m4
/m4/lt*.m4
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.mk
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
Makefile
Makefile.in
tags
lib/gnome-app-store-0.1.pc
src/app_store
src/test_comments
